.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tempdiv {
  /* list-style-type: none; */
  margin: 5px;
  padding: 2px;
  /* overflow: hidden; */
  background-color: white;
  text-align: center;
}

.colorBox1{
    background-color: #FFFFFF;
    width: 380px;
    height: 430px;
    margin:100px auto;
    position: relative;     /*position: absolute에 기준이 되는 포지션*/
    border-radius: 10px;
}
.colorBox2{
    background-color: #FFFFFF;
    width: 50%;
    height: 25px;
    /* position: absolute; */
    top: 2px;
    left: 2px;
    border-radius: 2px;    
    margin: auto;
    padding: 2px;
    text-align: left;
  }

.smallBox{
    background-color:#578da1;
    color: rgb(197, 189, 189);
    position: absolute;
    bottom: 115px;
    left: 25px;
    /* width: 100px; */
    height: 30px;
    opacity: 0;
    padding-top: 5px;
}
.colorBox1:hover .smallBox{  /*마우스 올리면 */
    opacity: 1;     /*0이었던 opacity가 1이 됨 */
}
.chk_select{
  text-decoration-line : line-through;
}